.navContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(246, 243, 238);
}

.logo {
    max-height: 100px;
    margin-bottom: 10px;
    }


.nav{
    display: flex;
}

.button {
    width: 90px;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.3em 1em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color:antiquewhite;
    transition: border-color 0.25s;
    border-color: gray;
    text-decoration: none;
    color: black;
    margin: 5px;
}

.button:hover {
    border-color: rgb(242, 233, 222);
}


