.buy h3{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 1px;
    margin-top: -5px;
}

.buy button{
    border-radius: 8px;
    border: 1px solid transparent;
    background-color:antiquewhite;
    transition: border-color 0.25s;
    border-color: gray;
    font-family: inherit;
    font-size: 16px;
    margin-bottom: 8px;
}

